@{
    ViewBag.Title = "LessonProject";
    Layout = "~/Areas/Default/Views/Shared/_Layout.cshtml";
}

<h2>LessonProject</h2>

@DateTime.Now.ToString("D")

<p>
    <div class="menu">
        <a href="@Url.Action("Index", "Role")">Роли</a>
        @Html.ActionLink("Пользователи", "Index", "User")
    </div>

</p>
>